@tailwind base;

@tailwind components;

@tailwind utilities;

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
}

.ant-custom-input {
  height: 40px !important;
  border-radius: 5px !important;
  width: 100%;
}

.ant-btn {
  height: 36px !important;
  border-radius: 6px !important;
}

/* a {
  color: unset !important;
} */
